.carousel-item__all{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
}

.carousel-item__part{
    width: 49.5%;
    border-radius: 8px;
}

.carousel-item__part img{
    width: 100%;
    border-radius: 8px;

}

.carousel-control-prev, .carousel-control-next{
    width: 3%;
}