.profile__body {
    background-color: rgb(253, 244, 244);
    margin: 7% auto;
}

.profile__page {
    display: flex;
    justify-content: center;
    min-height: 450px;
    /* margin-top: 7%;
    height: 50vh; */
    box-shadow: 10px 7px 5px 5px #5c5a5a;
}

.menu__left {
    background-color: #003466;
    text-align: center;
    width: 30%;
    color: #fff;
}

.menu__left .menu__left__element {
    margin-top: 10%;
    text-align: left;
}

.menu__left .menu__left__element h2 {
    text-align: center;
    font-family: monospace;
    border-bottom: 1px solid black;
}

.menu__left .menu__left__element label {
    width: 100%;
    padding-top: 10%;
    padding-left: 35%;
    padding-bottom: 10%;
    font-family: monospace;
    font-size: 22px;
    cursor: pointer;
}


.menu__left__element label:hover {
    background-color: rgb(187, 73, 77);
    transition: background-color 0.3s;
}

.profile_active {
    background-color: rgb(187, 73, 77);
}

.main {
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    width: 70%;
}

.main h1 {
    margin-top: 20px;
    font-family: monospace;
}

.main h2 {
    font-size: 30px;
    text-align: left;
    margin-left: 2%;
}

.hello__profile h2 {
    font-weight: 600;
    padding-bottom: 10px;
}

@media screen and (max-width: 1368px) and (max-height: 619px) {
    .profile__page {
        height: 65vh;
        margin-top: 3%;
        width: 100%;
    }

    .menu__left .menu__left__element {
        margin-top: 5%;
    }

    .menu__left__element h2 {
        font-size: 30px;
    }

    .menu__left .menu__left__element label {
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 20px;
    }

    .main h2 {
        font-size: 25px
    }
}