.container{
    margin-bottom: 5%;
}

.form__login {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    border-radius: 1%;
    height: 60vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form__login h1 {
    margin-bottom: -10%;
    font-family: monospace;
}

.form__login input {
    margin-top: 15%;
}

.form__login input[type=text] {
    margin-left: 1%;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 70%;
}

.form__login input[type=password] {
    margin-left: 1%;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 70%;
}

.form__login input[type=submit] {
    font-size: 27px;
    border: none;
    border-radius: 1%;
    color: white;
    background-color: rgb(255, 136, 1);
    width: 60%;
}

.form__login p {
    font-size: 13px;
    margin-top: 10%;
    color: rgb(0, 0, 0);
}

.form__login p:hover {
    color: rgb(122, 122, 81);
}

.form__login input[type=text]:focus {
    background-color: lightgoldenrodyellow;
}

.form__login input[type=password]:focus {
    background-color: lightgoldenrodyellow;
}

.form__login input[type=submit]:hover {
    color: black;
    background-color: #FFD400;
}

.element__login {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 50vh;
    border-radius: 2%;
    padding-top: 5%;
}

@media screen and (max-width: 1368px) and (max-height: 619px) {
    .form__login {
        height: 70vh;
        margin-top: 3%;
    }

    .form__login input[type=submit] {
        font-size: 20px;
    }
}