.container {
    margin-bottom: 5%;
}

.form__login {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    border-radius: 1%;
    height: 60vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form__login h1 {
    margin-bottom: -10%;
    font-family: monospace;
}

.form__login input {
    margin-top: 15%;
}

.form__login input[type=text] {
    margin-left: 8px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid #ccc;
    outline: none;
    width: 70%;
}

.form__login input[type=password] {
    margin-left: 8px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    text-align: center;
    width: 70%;
}

.form__login input[type=submit] {
    font-size: 27px;
    font-weight: 700;
    border: none;
    border-radius: 1%;
    color: #dd3036;
    background-color: #ffffff;
    border: 2px solid #dd3036;
    width: 60%;
}

.form__login p {
    font-size: 13px;
    font-weight: 600;
    margin-top: 10%;
    opacity: .8;
    color: rgb(0, 0, 0);
}

.form__login p:hover {
    color: rgb(0, 0, 0);
    opacity: 1;
    cursor: pointer;
}



.form__login input[type=submit]:hover {
    color: rgb(255, 255, 255);
    background-color: #dd1b22;
}

.element__login {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 50vh;
    border-radius: 2%;
    padding-top: 5%;
}

@media screen and (max-width: 1368px) and (max-height: 619px) {
    .form__login {
        height: 70vh;
        margin-top: 3%;
    }

    .form__login h1 {
        margin-top: -6%;
    }

    .form__login input[type=submit] {
        font-size: 20px;
    }
}