.form__rspw {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    border-radius: 1%;
    /* height: 45vh; */
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form__rspw h1 {
    margin-bottom: -10%;
    font-family: monospace;
}

.form__rspw input {
    margin-top: 15%;
}

.form__rspw input[type=email] {
    margin-left: 8px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    text-align: center;
    width: 70%;
}

.form__rspw input[type=submit] {
    font-size: 27px;
    border: none;
    border-radius: 1%;
    font-weight: 700;
    color: #dd3036;
    background-color: #ffffff;
    border: 2px solid #dd3036;
    width: 60%;
}


.form__rspw input[type=submit]:hover {
    color: rgb(255, 255, 255);
    background-color: #dd1b22;
}

.form__rspw p {
    font-size: 13px;
    font-weight: 600;
    margin-top: 5%;
    opacity: .8;
    color: rgb(0, 0, 0);
}

.form__rspw p:hover {
    color: rgb(0, 0, 0);
    opacity: 1;
    cursor: pointer;
}

.element__rspw {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 60vh;
    border-radius: 2%;
    padding-top: 5%;
}

.notification {
    text-align: center;
    font-size: 20px;
    color: #dd1b22;
    font-weight: 500;
}

@media screen and (max-width: 1368px) and (max-height: 619px) {
    /* .form__rspw {
        height: 60vh;
        margin-top: 3%;
    } */

    .form__rspw input[type=submit] {
        font-size: 20px;
    }

    .element__rspw {
        width: 80vh;
    }
}