.form__signup {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    border-radius: 1%;
    height: 60vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-page__form{
    display: flex;
    justify-content: space-between;
}

.left-form {
    width: 50%;
    margin-left: 2%;
    /* float: left */
}

.right-form {
    width: 50%;
    margin-right: 2%;
    /* float: right; */
}

.form__signup h1 {
    margin-bottom: 0;
    font-family: monospace;
}

.form__signup input {
    margin-top: 20%;
}

.form__signup input[type=text] {
    margin-left: 1%;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 80%;
}

.form__signup input[type=number] {
    margin-left: 1%;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 80%;
}

.form__signup input[type=email] {
    margin-left: 1%;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 80%;
}

.form__signup input[type=password] {
    margin-left: 1%;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 80%;
}

.form__signup input[type=submit] {
    text-align: center;
    font-size: 27px;
    border: none;
    border-radius: 1%;
    color: white;
    background-color: rgb(255, 136, 1);
    width: 60%;
}

.form__signup input[type=text]:focus {
    background-color: lightgoldenrodyellow;
}

.form__signup input[type=number]:focus {
    background-color: lightgoldenrodyellow;
}

.form__signup input[type=email]:focus {
    background-color: lightgoldenrodyellow;
}

.form__signup input[type=password]:focus {
    background-color: lightgoldenrodyellow;
}

.form__signup input[type=submit]:hover {
    color: black;
    background-color: #FFD400;
}

.form__signup p {
    font-size: 13px;
    margin-top: 10%;
    color: rgb(0, 0, 0);
}

.form__signup p:hover {
    color: rgb(122, 122, 81);
}

.element__signup {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 50vh;
    border-radius: 2%;
    padding-top: 5%;
}

.error_signup {
    text-align: center;
    font-size: 20px;
    background-color: rgb(248, 111, 111);
}

@media screen and (max-width: 1368px) and (max-height: 619px) {
    .form__signup {
        height: 70vh;
        margin-top: 3%;
    }

    .form__signup input[type=submit] {
        font-size: 20px;
    }

    .element__signup {
        width: 70vh;
    }

    .form__signup input {
        margin-top: 22%;
    }

    .form__signup h1 {
        margin-bottom: -7%;
        font-family: monospace;
    }

    .form__signup input[type=submit] {
        margin: 7%
    }

    .form__signup p {
        margin-top: 0;
    }
}