.voucher-page {
    width: 100%;
}

.voucher-page__container {
    max-width: 1500px;
    margin: auto;
    /* padding: 20px; */
}

.voucher-page__banner {
    background-image: url("https://viettelhightech.com/storage/anh-dan-su/banner-web-vht-dansu-1920x530-suckhoe-1903x520.png");
    color: #fff;
    max-width: 1500px;
    /* margin: auto; */
    padding: 30px 50px;
}

.voucher-detail {
    max-width: 1220px;
    margin: auto;
}

.voucher-detail__desc .desc-container {
    background: hsla(0, 0%, 100%, 0.11);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(50px);
}

.voucher-detail__title h2 {
    text-align: center;
}

.voucher-page__product-list {
    display: flex;
    flex-wrap: wrap;
}

.voucher-page__product-list .product-card__custom {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

}

.voucher-page__product-list .product-card__custom .product-card {
    padding: 10px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.desc-container p {
    margin-bottom: 5px;
}