.order-item__container{
    list-style: none;
    border-bottom: 1px solid #dfdfdf;
    
}
.order-item{
    width: 100%;
    display: flex;
    padding: 0 5px 10px 5px;
}

.order-item__info{
    width: 84%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.order-item__img{
    padding-top: 4px;
}

.order-item__qty span{
    font-size: 13px;
}

.order-item__info-left{
    width: 80%;
}

.order-item__info-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-item__info-left a{
    font-size: 15px;
    /* font-weight: 600; */
}

.order-item__info-left a:hover{
    color: #2f80ed;
}

.group-price{
    display: flex;
    flex-direction: column;
}

.group-price .origin-price{
    color: #666666;
    font-weight: normal;
    text-decoration: line-through;
}

.product-item__info-top .group-price .sell-price{
    color: red;
    font-weight: bold;
}

.order-name a:hover{
    color: #2f80ed;
}

.product-item__img{
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.order-item__img img{
    width: 75px;
    margin: auto;
}

.order-item__review-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.order-item__review-btn button{
    border: 1px solid #2f80ed;
    color: #2f80ed;
    background: none;
    border-radius: 4px;
}

.review-item{
    display: flex;
    flex-direction: column;
}

.review-item__img, .review-item__name, .review-item__rating{
    display: flex;
    justify-content: center;
}

.review-item__img img{
    width: 180px;
    border-radius: 0;
}

.review-item__name p{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.review-item__rating .star-rating{
    font-size: 25px;
}

.review-item__comment {
    width: 100%;
}

.review-item__comment textarea{
    width: 100%;
    border: 1px solid #8f9bb3;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
}

.review-item__comment label{
    font-style: italic;
    font-weight: 400;
}
