.payment-result-page {
    background: #fff;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    height: inherit;
}

.payment-result-page .center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.center-container .checked-icon{
    font-size: 120px;
    color: #2ECC71;
}

.success h1{
    color: #2ECC71;
}

.center-container a{
    text-decoration: underline;
    color: blue;
}

.center-container .xmark-icon{
    font-size: 120px;
    color: #E53935;
}

.failed h1{
    color: #E53935;
}