.desc-container{
    width: 100%;
}

.desc-container h2{
    font-size: 22px;
}

.desc-container__details{
    /* height: 400px; */
    position: relative;
}

.desc-containter__btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    bottom: 36px;
    left: 0;
}

.desc-containter__btn button{
    color: #2f80ed;
    border: none;
    background: none;
}

.desc-container__short-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* @media (min-width: 992px){
    .modal-lg, .modal-xl {
        --bs-modal-width: 900px;
    }
} */

.modal-content{
    border: none;
    border-radius: 0%;
    outline: none;
}
   

.desc-container__bg{
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgba(255 255 255/0), rgba(255 255 255/62.5), rgba(255 255 255/1));
}