.rating-container{
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    border-radius: 10px;
}

.rating-container h2{
    font-size: 22px;
}

.box-star{
    display: flex;
    justify-content: flex-start;
    line-height: 30px;
}

.box-star .icon-star{
    font-size: 22px;
    width: 22px;
    height: 22px;
}

.avg-rating{
    font-size: 30px;
    color: #ff9f00;
    font-weight: bold;
    margin-right: 5px;
}

.rating-number{
    margin-left: 10px;
    color: #2f80ed;
}

.box-star .star-rating {
    font-size: 20px;
}