.voucher_row{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.voucher_row label{
    font-weight: 500;
    margin-bottom: 3px;
}

.voucher_row input, .voucher_row textarea{
    border: 1px solid #ccc;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
}