.detail-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
}

.detail-user-modal .modal-body {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px !important;
    max-height: 650px;
    overflow: auto;
    /* Giảm độ rộng xuống 60% */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.table-container-user {
    margin-top: 20px;
}

.product-details {
    width: 100%;
    border-collapse: collapse;
}

.product-details td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.product-details td:first-child {
    font-weight: bold;
    width: 30%;
}

.product-details td:last-child {
    width: 70%;
}