.user-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}


.user-table th,
.user-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    width: fit-content;
    overflow: auto;
}

.user-table tr:hover {
    background-color: #e4e2e2;
}


.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.status-checkboxes {
    margin-bottom: 20px;
}

.status-checkboxes label {
    margin-right: 15px;
    display: inline-block;
    align-items: center;
}

.status-checkboxes input {
    margin-right: 5px;
}

.status-checkboxes h2 {
    font-size: larger;
    height: fit-content;
}

.order-navlink-button {
    color: white;
}