.product-content {
    position: relative;
}

.add-product-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.add-product-button:hover {
    background-color: #0056b3;
}

.table-container {
    max-width: 100%;
    max-height: 700px;
    overflow: auto;
}

.table-container_1 {
    max-width: 100%;
    max-height: 600px;
    overflow: auto;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.product-table img {
    width: 100px;
    height: 100px;
}

.product-table th,
.product-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    width: fit-content;
}

.product-table tr:hover {
    background-color: rgb(243, 242, 164);
}

.product-table td:hover {
    background-color: rgb(252, 249, 108);
}

.product-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.product-row {
    border-bottom: 1px solid #ccc;
}


.product-cell {
    padding: 10px;
}

.detail-button {
    background-color: #4387ec;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.detail-button:hover {
    background-color: rgb(33, 85, 134);
}

.edit-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.edit-button:hover {
    background-color: #1f8b4c;
}

.upload-button {
    background-color: rgb(194, 67, 199);
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.upload-button:hover {
    background-color: rgb(129, 32, 133);
}

.remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.remove-button:hover {
    background-color: #c82333;
}

.button-product-content button {
    margin-right: 10px;
}

@media screen and (max-width: 1368px) and (max-height: 619px) {
    .table-container {
        max-width: 100%;
        max-height: 400px;
        overflow: auto;
    }

    .table-container_1 {
        max-width: 100%;
        max-height: 300px;
        overflow: auto;
    }
}