.block-button {
    background-color: #ec7f26;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.block-button:hover {
    background-color: #ee7009;
}