body {
    background: #f4f4f4;
}


.custom-slider {
    max-width: 1220px;
    margin: auto;
    padding: 1%;
}

.home-page-container {
    max-width: 1920px;
    margin: auto;
    /* padding: 1%; */
}

.all-product-container {
    /* background: #28a2c9; */
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-radius: 14px;
}

.all-product-container__title {
    display: block;
    overflow: hidden;
    /* color: #fff; */
    font-size: 1.5rem;
    font-weight: 550;
    /* line-height: 40px; */
    /* text-align: center; */
    padding: 13px 0 0 0;
    margin: 0;
}

.all-product-container .product-card {
    /* margin: 0 5px; */
    border-radius: 5px;
    padding: 0 10px;
}

.all-product-container__prod-list {
    display: grid;
    gap: 12px;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: 0 8px;
}

.all-product-container__prod-list_2 {
    display: grid;
    gap: 12px;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: 0 8px;
}

.all-product-container__main {
    max-width: 1220px;
    padding: 10px;
    margin: auto;
    border-radius: 7px;
}

.all-product-container__main {
    background-color: rgb(194, 64, 69);
}


.voucher-list-container {
    margin-top: 30px;
    background: #490A76;
    border-radius: 12px;
}

.voucher-list-banner img {
    width: 100%;
    margin-bottom: 20px;
}

.see-more-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 20px;
    margin-top: 20px;
}

.see-more-btn button {
    background: #fff;
    border: none;
    width: 340px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}


.category-container {
    width: 100%;
    max-width: 1220px;
    background: #fff;
    margin: 20px auto;
    padding: 30px 0;
    border-radius: 8px;
}

.category-container h2,
.voucher-container h2,
.all-product-container h2 {
    text-align: center;
    color: #ffffff;
}

.category-container h2 {
    color: #003466;
}

.category-list {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.category-container__main,
.voucher-container__main {
    max-width: 1220px;
    margin: auto;
}

.voucher-container {
    padding: 20px;
}

.voucher-container__list {
    width: fit-content;
    display: flex;
    justify-content: center;
}

.voucher-container__main {
    position: relative;
}

.scroll {
    max-width: 1220px;
    position: relative;
    overflow-x: auto;
}

.rating-product-container__main .scroll,
.best-seller-container__main .scroll {
    padding-bottom: 10px;
}

.prev-btn,
.next-btn {
    border: none;
    background: #fff;
    color: #003466;
    font-size: 25px;
    padding: 10px 5px;
}

.prev-btn {
    position: absolute;
    left: -20px;
    top: 50%;
}

.next-btn {
    position: absolute;
    right: -20px;
    top: 50%;
}

.scroll::-webkit-scrollbar {
    height: 10px;
}

.scroll::-webkit-scrollbar-track {
    background: #154985;
}

.rating-product-container__main .scroll::-webkit-scrollbar-track {
    background: #633974;
}

.best-seller-container__main .scroll::-webkit-scrollbar-track {
    background: rgb(194, 64, 69);
}

.scroll::-webkit-scrollbar-thumb {
    background: #fff;
}

.scroll::-webkit-scrollbar-track {
    box-shadow: none;
}

.scroll:hover::-webkit-scrollbar-thumb {
    background: #fff;
}

/* .scroll::-webkit-scrollbar-thumb:hover{
    background: #fff;
} */

.voucher-container__main h2 {
    color: #fff;
}

.voucher-container,
.best-seller-container,
.rating-product-container {
    max-width: 1220px;
    margin: 0 auto 20px auto;
    border-radius: 8px;
}

.voucher-container {
    background: #154985;
}

.best-seller-container,
.rating-product-container {
    padding: 20px;
}

/* Best seller */
.best-seller-container {
    background: rgb(194, 64, 69);
}

.best-seller-container__main h2,
.rating-product-container__main h2 {
    color: #fff;
    text-align: center;
}

.best-seller-container .best-seller-container__main,
.rating-product-container__main {
    max-width: 1220px;
    margin: auto;
}

.best-seller-container__list,
.rating-product-container__list {
    height: fit-content;
    width: fit-content;
    display: flex;
}

.best-seller-container__list .product-card,
.rating-product-container__list .product-card {
    padding: 0 10px;
    border-radius: 4px;
    margin: 0 5px;
    min-width: 240px;
}

.rating-product-container {
    background: #633974;
}

@media screen and (max-width: 575px) {
    .all-product-container__prod-list{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .scroll::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 770px) {
    .all-product-container__prod-list{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .scroll::-webkit-scrollbar {
        display: none;
    }   

    .intro{
        padding: 0 16%;
    }
}