body{
    background: #f3f3f3;
}
.home-page-container{
    max-width: 1200px;
    margin: auto;
    padding: 1%;
}
.all-product-container{
    background: #28a2c9;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-radius: 14px;
}

.all-product-container__title{
    display: block;
    overflow: hidden;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    padding: 26px 0;
}

.all-product-container .product-card{
    /* margin: 0 5px; */
    border-radius: 5px;
    padding: 0 10px;
}

.all-product-container__prod-list{
    display: grid;
    gap: 8px;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(5,minmax(0,1fr));
    padding: 0 8px;
}

.voucher-list-container{
    margin-top: 30px;
    background: #490A76;
    border-radius: 12px;
}

.voucher-list-banner img{
    width: 100%;
    margin-bottom: 20px;
}

.see-more-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 20px;
    margin-top: 20px;
}

.see-more-btn button{
    background: #fff;
    border: none;
    width: 340px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

