body {
    background: #f4f4f4;
}


.custom-slider {
    max-width: 1220px;
    margin: auto;
    padding: 1%;
}

.home-page-container {
    max-width: 1920px;
    margin: auto;
    /* padding: 1%; */
}

.all-product-container {
    /* background: #28a2c9; */
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-radius: 14px;
}

.all-product-container__title {
    display: block;
    overflow: hidden;
    /* color: #fff; */
    font-size: 1.5rem;
    font-weight: 550;
    /* line-height: 40px; */
    /* text-align: center; */
    padding: 13px 0 0 0;
    margin: 0;
}

.all-product-container .product-card {
    /* margin: 0 5px; */
    border-radius: 5px;
    padding: 0 10px;
}

.all-product-container__prod-list {
    display: grid;
    gap: 12px;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: 0 8px;
}

.all-product-container__main {
    max-width: 1220px;
    margin: auto;

}

.voucher-list-container {
    margin-top: 30px;
    background: #490A76;
    border-radius: 12px;
}

.voucher-list-banner img {
    width: 100%;
    margin-bottom: 20px;
}

.see-more-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 20px;
    margin-top: 20px;
}

.see-more-btn button {
    background: #fff;
    border: none;
    width: 340px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

.see-more-btn button:hover {
    background-color: #3498db;
}

.category-container {
    width: 100%;
    /* max-width: 1500px; */
    background: #fff;
    margin: auto;
    padding: 30px 0;

}

.category-container h2,
.voucher-container h2,
.all-product-container h2 {
    text-align: center;
    color: #003466;
}

.category-list {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.category-container__main,
.voucher-container__main {
    max-width: 1220px;
    margin: auto;
}

.voucher-container {
    padding: 30px;
}

.voucher-container__list {
    width: fit-content;
    display: flex;
    justify-content: center;
}

.voucher-container__main {
    position: relative;
}

.scroll {
    max-width: 1220px;
    overflow-x: auto;
    position: relative;
    overflow-x: auto;
}

.prev-btn,
.next-btn {
    border: none;
    background: #fff;
    color: #003466;
    font-size: 25px;
    padding: 10px 5px;
}

.prev-btn {
    position: absolute;
    left: -20px;
    top: 50%;
}

.next-btn {
    position: absolute;
    right: -20px;
    top: 50%;
}

.scroll::-webkit-scrollbar {
    height: 5px;
}

.scroll::-webkit-scrollbar-track {
    background: #154985;
}

.scroll::-webkit-scrollbar-thumb {
    background: #fff;
}

.scroll::-webkit-scrollbar-track {
    box-shadow: none;
}

.scroll:hover::-webkit-scrollbar-thumb {
    background: #fff;
}

/* .scroll::-webkit-scrollbar-thumb:hover{
    background: #fff;
} */

.voucher-container__main h2 {
    color: #fff;
}


.voucher-container {
    max-width: 1920px;
    margin: auto;
    background: #154985;
}