.card-container {
    width: 250px;
    border: 1px solid rgba(0, 0, .125);
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.card-container a {
    text-decoration: none;
    font-family: cursive;
    color: rgb(0, 0, 0);
    text-align: center;
}

.card-container p {
    font-size: 20px;
    color: rgb(60, 224, 73)
}

.card-container h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}