* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat-button {
    position: fixed;
    /* Đặt vị trí cố định */
    bottom: 100px;
    right: 28px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    font-size: 30px;
    z-index: 3;
    text-align: center;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(214, 214, 214);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0d638b6c;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #08415ca8;
}

@media screen and (max-width: 1368px) and (max-height: 619px) {
    .chat-button {
        height: 50px;
        width: 50px;
        font-size: 25px;
    }
}