.product-page {
    max-width: 1920px;
    background: #fff;
    margin: auto;
}

.top_product-page {
    margin-bottom: 10px;
}

.top_product-page h3 {
    display: inline;
    font-weight: 600;
}

.top_product-page h2 {
    font-weight: 600;
    width: fit-content;
    margin-left: 20px;
}


.top_name_product {
    display: flex;
}

.product_rating_group {
    display: flex;
    cursor: pointer;
}

.top_name_product h3 {
    padding-top: 14px;
}

.product_name {
    margin-right: 20px;
}

.product_rating,
.product_numb_rating {
    margin-right: 10px;
}

.product_numb_rating h3 {
    color: #2f80ed;
}

.product-cate {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    padding-top: 2px;
    /* background-color: #e4e3e3; */
    background-color: rgb(255, 124, 128);
}

.product-cate:hover {
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .4);
}

.product-page__main-container {
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
}

.product-page__box-main {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    overflow: hidden;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    clear: both;
}

.box-left {
    width: calc(100% - 490px);
    float: left;
}

.product-slider {
    width: 710px;
}

.box-right {
    width: 460px;
    margin-left: 30px;
    float: right;
}

.price-container {
    width: 100%;
}

.price-container__title {
    margin: 0;
}

.box-price {
    display: flex;
    justify-content: flex-start;
}

.box-price p {
    margin-right: 20px;
    line-height: 22px;
}

.box-price-present {
    font-size: 22px;
    color: #d0021c;
    font-weight: bold;
}

.box-price-old {
    font-size: 16px;
    color: #666;
    text-decoration-line: line-through;
}

.product-page__btn {
    border-radius: 4px;
    padding: 10px 14px;
    border: none;
    color: #fff;
}

.buy-now-btn {
    background: #d0021c;
    width: 100%;
    font-weight: bold;
}

.button-group {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-group button {
    background: #2f80ed;
    width: 100%;

}

.product-page__icon {
    margin-right: 5px;
}