.customer-info {
    margin: 0 ;
}

.form-title{
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0 0 0;
    padding: 0;
}

.form-row{
    margin-top: 5px;
}

.custom-form__input label{
    margin: 0;
}

.place-order-btn{
    font-weight: bold;
    background: #2f80ed;
    border: none;
    color: #fff;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    margin-top: 10px;
}

.isbold{
    font-weight: 500;
}

.change-info__btn{
    border: none;
    background: none;
    color: #2f80ed;
    font-size: 14px;
}

.change-info__btn:hover{
    text-decoration: underline;
}

.modal-custom .modal-content{
    width: 100%;
}

.custom-row{
    margin-bottom: 10px;
}

