.my-order {
    display: flex;
    height: 70%;
    width: 100%;
    max-height: 470px;
    overflow: auto;
    overflow-x: hidden;
}

.my-order th,
.my-order td {
    border-bottom: 1px solid black;
}

.oid_row {
    font-weight: bold;
}

.my-order tr:hover {
    background-color: #ccc;
}

.my-order ul li {
    list-style-type: none;
}

.price-product {
    display: flex;

    text-align: left;
    justify-content: left;
}

.my-order img {
    width: 50px;
    height: 50px;
}

/* Bảng đơn hàng */
.my-order table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

/* Header bảng */
.my-order table thead {
    background-color: #f2f2f2;
}

/* Thẻ th trong header bảng */
.my-order table thead th {
    padding: 10px;
    text-align: center;
}

/* Thân bảng */
.my-order table tbody {
    background-color: #fff;
}

/* Thẻ tr trong thân bảng */
.my-order table tbody tr {
    border-bottom: 1px solid #ccc;
}

/* Thẻ td trong thân bảng */
.my-order table tbody td {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

/* Nút Chi tiết */
.my-order table tbody td button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Khi hover nút Chi tiết */
.my-order table tbody td button:hover {
    background-color: #0069d9;
}

.status-check-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-check-profile h2 {
    margin-right: 5px;
    /* Khoảng cách giữa tiêu đề và các checkbox */
}

.status-check-profile label {
    margin-right: 5px;
    /* Khoảng cách giữa các checkbox */
}

.status-check-profile input {
    margin-right: 5px;
    /* Khoảng cách giữa checkbox và nội dung văn bản */
}



.price-product ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.price-product li {
    display: inline-block;
}

@media screen and (max-width: 1368px) and (max-height: 619px) {
    .my-order {
        height: 70%;
    }
}