.my_profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.update_profile p {
    width: 100%;
    font-size: 20px;
    background-color: #f84646;
}

.update_password p {
    width: 100%;
    font-size: 20px;
    background-color: #f84646;
}

.profile_password input {
    margin-top: 5%;
    margin-bottom: 2%;
}

.my_profile img {
    width: 150px;
    height: 200px;
}

.mid_profile {
    text-align: left;
}

.mid_profile p {
    margin-top: 15%;
}

.mid_profile input {
    margin-top: 14%;
    border: none;
    border-left: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 70%;
}

.mid_profile select option {
    margin-top: 10%;
}


.right_profile {
    text-align: left;
}

.right_profile p {
    margin-top: 15%
}

.right_profile input {
    margin-top: 14%;
    border: none;
    border-left: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 70%;
}


.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15%;
    width: 70%;
}

.buttons button {
    flex: 1;
    margin: 0 10px;
    font-size: 15px;
}

.custom-button {
    padding: 10px 20px;
    margin: 10px 0;
    width: 70%;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #0056b3;
}

.buttons-1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15%;
    width: 70%;
}

.buttons-1 button {
    flex: 1;
    margin: 0 10px;
    font-size: 15px;
}

.buttons-1 input {
    flex: 1;
    margin: 0 10px;
    font-size: 15px;
}

.custom-button-1 {
    padding: 10px 20px;
    margin: 5% 0;
    width: 20%;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button-1:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 1368px) and (max-height: 619px) {
    .my_profile img {
        width: 100px;
        height: 150px;
    }

    .mid_profile p {
        margin-top: 10%;
    }

    .right_profile p {
        margin-top: 10%
    }

    .my_profile {
        grid-gap: 1px
    }

    .buttons button {
        font-size: 11px;
    }

    .buttons-1 button {
        font-size: 10px;
    }

    .buttons-1 input {
        font-size: 10px;
    }

    .custom-button-1 {
        margin: 3% 0;
    }

    .mid_profile input {
        margin-top: 9%;
    }

    .right_profile input {
        margin-top: 9%;
    }

    .profile_password input {
        margin-top: 4%;
        margin-bottom: 1%;
    }
}