.my_profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.my_profile_update {
    text-align: center;
}

.profile_update_container {
    display: flex;
    justify-content: space-between;
}

.profile_update_left,
.profile_update_right {
    width: 48%;
}


.profile_update_left p,
.profile_update_right p {
    margin-top: 10px;

}

.profile_update_left input,
.profile_update_right input {
    width: 50%;
    margin-bottom: 10px;
}

.my_profile img {
    width: 150px;
    height: 200px;
}

.mid_profile {
    text-align: left;
}

.mid_profile p {
    margin-top: 15%;
}

.right_profile {
    text-align: left;
}

.right_profile p {
    margin-top: 15%
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15%;
    width: 70%;
}

.buttons button {
    flex: 1;
    margin: 0 10px;
    font-size: 15px;
}

.custom-button {
    padding: 10px 20px;
    margin: 10px 0;
    width: 70%;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 1368px) and (max-height: 619px) {
    .my_profile img {
        width: 100px;
        height: 150px;
    }

    .mid_profile p {
        margin-top: 10%;
    }

    .right_profile p {
        margin-top: 10%
    }

    .my_profile {
        grid-gap: 1px
    }

    .buttons button {
        font-size: 11px;
    }
}