.chat_window {
    width: 25%;
    height: 500px;
    background-color: #ffde39;
    border-radius: 3%;
    position: fixed;
    /*Có cái này mới dùng bottom right này nọ ok*/
    bottom: 82px;
    right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.chat_content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 69%;
    overflow-y: scroll;
}

.chat_lines {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat_lines li {
    background-color: #e5e5ea;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    max-width: 70%;
    word-wrap: break-word;
}

.chat_lines li.left {
    float: left;
    clear: both;
    background-color: #bebebe;
}

.chat_lines li.anchor {
    float: right;
    clear: both;
    font-size: xx-small;
    display: none;
    background-color: white;
}

.chat_lines li.right {
    float: right;
    clear: both;
    background-color: #0084ff;
    color: #fff;
}


.chat_lines .received {
    margin-right: 100px;
}

.chat_lines .sent {
    margin-left: 100px;
}

.chat_lines::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.chat_lines::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(214, 214, 214);
    border-radius: 5px;
}

/* Handle */
.chat_lines::-webkit-scrollbar-thumb {
    background: #08415C;
    border-radius: 5px;
}

/* Handle on hover */
.chat_lines::-webkit-scrollbar-thumb:hover {
    background: #0d6188;
}

.chat {
    text-align: center;
    background-color: #ffffff;
    margin-top: 3%;
    border-radius: 3%;
    height: 93%;
    width: 90%;
    margin-left: 5%;
}

.chat h1 {
    font-family: monospace;
    background-color: #ffde39;
}

.chat p {
    position: absolute;
    bottom: 14%;
    left: 10%;
}

.chat input[type=text] {
    position: absolute;
    bottom: 7%;
    right: 23%;
    width: 67%;
    height: 10%;
    padding-left: 2%;
}

.chat input[type=text]:focus {
    border: 1px solid #555;
}

.chat button {
    position: absolute;
    bottom: 7%;
    right: 10%;
    width: 10%;
    height: 10%;
    background-color: #FFD400;
    border-radius: 50%;
}

.chat button:hover {
    background-color: #f3e081;
}

@media screen and (max-width: 1368px) and (max-height: 619px) {
    .chat_window {
        height: 400px;
    }

    .chat_content {
        height: 65%;
    }
}