footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    background: #fff;
    max-width: 1920px;
}

.footer__top{
    background: #fff;
    max-width: 1200px;
    width: 100%;
    /* height: 180px; */
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
    margin: auto;
}

.footer-column{
    width: fit-content;
    height: fit-content;
}

.first-column{
    max-width: 290px;
}

.footer-column ul{
    list-style: none;
    display: inline;
}

.footer-column ul li{
    padding: 3px 0;
}

.footer-column ul li span{
    color: #2f80ed;
    font-weight: bold;
}

.footer__bottom{
    width: 100%;
    height: 70px;
    background: #fff;
    border-top: 1px solid lightgray;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}