.loading-component{
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-component p{
    color: #154985;
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
}

.loader {
    border: 4px solid #154985;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 1cm;
    height: 1cm;
    animation: spinner 1s linear infinite;
}

@keyframes spinner{
    100%{
        transform: rotate(360deg);
        /* transition: 0.4s all ease; */
    }
}
