.main-menu{
    max-width: 1220px;
    margin: auto;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.main-menu li{
    cursor: pointer;
    width: fit-content;
}

.main-menu__icon{
    font-size: 18px;
    margin-right: 5px;
}