.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    margin: 1rem;
}

.nav-links a {
    text-decoration: none;
    padding: 0.5rem;
    color: black;
    border: 1px solid transparent;
}

.nav-links li:nth-child(1) {
    width: 45%;
}

.nav-links__search {
    position: relative;
    width: 100%;
    border-radius: 55px;
    /* background-color: #fff; */
    border: 2px solid #FFD400;
}

.nav-links__search input {
    border: none;
    outline: none;
    height: 30px;
    border-radius: 55px;
    line-height: 14px;
    height: 35px;
    font-size: 12px;
    padding: 0 8px;
    width: calc(100% - 35px);
}

.nav-links__search button {
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #FFD400;
    border-radius: 0 55px 55px 0;
    width: 20%;
}

.nav-links li:nth-child(2) {
    width: fit-content;
    display: inline-flex;
    align-items: center;
}

.nav-links__icon-phone {
    font-size: 22px;
    margin-right: 6px;
}

.span-text {
    font-size: 13px;
}

.span-phoneNumber {
    font-weight: bold;
}

.nav-links li:nth-child(3) {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links__icon-cart {
    font-size: 22px;
}

.nav-links__box-cart {
    position: relative;
    display: inline-block;
    margin-right: 6px;
}

.nav-links__cart-number {
    background: red;
    font-size: 10px;
    font-weight: 500;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: -3px;
    text-align: center;
}

.nav-links li:nth-child(4) {
    width: fit-content;
    display: inline-block;
}

.nav-links__icon-user {
    font-size: 22px;
    margin-right: 6px;
}

.nav-links__icon-login {
    font-size: 22px;
    margin-right: 6px;
}

.dropdown-element{
    position: relative;
}

.dropdown-element button{
    border: none;
    background: none;
    margin-bottom: 5px;
}

.dropdown-element .dropdown-element__menu{
    position: absolute;
    left: -50px;
    display: none;
    z-index: 1;
}

.dropdown-element:hover .dropdown-element__menu{
    display: flex;
    flex-direction: column;
}

.dropdown-element__menu{
    background: #fff;
    width: calc(100% + 50px);
    display: flex;
    border-radius: 4px;    
    border: 1px solid lightgrey;
    padding: 5px 0;
}

.dropdown-element__menu::before{
    position: absolute;
    top: -20px;
    right: 25px;
    content: '';
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.dropdown-element__menu a:hover{
    background: #f7f7f7;
}

.nav-links__login{
    background: #FFD400;
    border-radius: 55px;
}

.nav-links__login span{
    font-weight: 500;
    padding: 0 5px;
}