a {
    text-decoration: none;
    color: #333;
    /* color: #288ad6; */
}

.product-card{
    background: #fff;
    height: 100%;
}

.product-image{
    position: relative;
    margin: 10px 0;
    display: block;
    overflow: hidden;
    height: 225px;
    line-height: 225px;
}

.product-card:hover{
    text-decoration: none;
    transition: 0.2s;
    color: #288ad6;
}

.product-card:hover .product-image img{
    margin-top: 0;
}

.product-image img{
    max-width: 100%;
    margin-top: 8px;
    transition: all 0.2s ease-in-out;
}

h3{
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.product-prods-group ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.product-prods-group ul li {
    padding: 5px 8px;
    border: 1px solid #e0e0e0;
    color: #333;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-right: 4px;
}

.product-prods-group ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}

.product-prods-group ul li.active{
    border: 1px solid #288ad6;
    color: #288ad6;
}

.product-price{
    color: red;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 5px;
    padding-bottom: 30px;
}

.product-rating .star-rating{
    font-size: 13px;
}